<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/node_modules/tabulator-tables/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
    <title>고객목록</title>
</head>
<body>
<h1>고객목록</h1>
<button id="searchBtn">조회</button>
<button id="addRowBtn">추가</button>
<button id="saveBtn">저장</button>
<!-- 고객목록 그리드 -->
<div id="client-grid" class="tabulator"></div>

<script type="text/javascript" src="/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="/node_modules/luxon/build/global/luxon.min.js"></script>
<script th:inline="javascript">
    let clientGrid;
    let currentRowId = 0;
    let createdRows  = []; // 신규
    let modifiedRows = []; // 수정
    let deletedRows  = []; // 삭제

    const searchBtn = document.getElementById("searchBtn");
    const addRowBtn = document.getElementById("addRowBtn");
    const saveBtn = document.getElementById("saveBtn");

    document.addEventListener("DOMContentLoaded", () => {
        initGrid();
    });

    searchBtn.addEventListener("click", () => getClientList());
    addRowBtn.addEventListener("click", () => addRow());
    saveBtn.addEventListener("click", () => saveData());

    /**
     * 그리드 초기화
     */
    const initGrid = () => {
        clientGrid = new Tabulator("#client-grid", {
            height: '100%',
            maxHeight: '100%',
            minHeight: '300px',
            rowHeight: 35,
            layout: "fitData",
            columns: [
                {title: "gridRowId", field: "gridRowId", width: 50, visible: false},
                {title: "clientId", field: "clientId", width: 50, visible: false},
                {title: "상태", field: "status", width: 80, headerSort: false, headerHozAlign: "center", hozAlign: "center"},
                {title: "삭제", field: "deleteChk", headerSort: false, headerHozAlign: "center", hozAlign: "center",
                    formatter: function(cell) {
                        var value = cell.getValue();
                        return value
                            ? "<input type='checkbox' checked />"
                            : "<input type='checkbox' />";
                    },
                    cellClick: function(e, cell) {
                        var value = cell.getValue();
                        if(typeof value === "undefined") {
                            value = false;
                        }
                        cell.setValue(!value); // 체크박스 상태 토글
                    },
                    cellEdited: (cell) => deleteChkEditedFunc(cell),
                },
                {title: "고객번호", field: "clientNo", width: 120, editor: "input", headerHozAlign: "center", hozAlign: "center",
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
                {title: "성명", field: "clientName", width: 120, editor: "input", headerHozAlign: "center", hozAlign: "center",
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
                {title: "연락처", field: "phoneNo", width: 130, editor: "input", headerHozAlign: "center", hozAlign: "center",
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
                {title: "이메일", field: "emailAddr", width: 180, editor: "input", headerHozAlign: "center", hozAlign: "left",
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
                {title: "시작일", field: "beginYmd", width: 140, formatter: "datetime", editor: "date", headerHozAlign: "center", hozAlign: "center",
                    formatterParams:{
                        inputFormat: "yyyyMMdd",
                        outputFormat: "yyyy-MM-dd",
                        invalidPlaceholder: "(invalid date)",
                    },
                    editorParams:{
                        min:"19000101",
                        max:"29991231",
                        format: "yyyyMMdd",
                        verticalNavigation: "table",
                    },
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
                {title: "종료일", field:"endYmd", width: 140, formatter: "datetime", editor: "date", headerHozAlign: "center", hozAlign: "center",
                    formatterParams:{
                        inputFormat: "yyyyMMdd",
                        outputFormat: "yyyy-MM-dd",
                        invalidPlaceholder: "(invalid date)",
                    },
                    editorParams:{
                        min:"19000101",
                        max:"29991231",
                        format: "yyyyMMdd",
                        verticalNavigation: "table",
                    },
                    cellEdited: (cell) => cellModifiedFunc(cell),
                    editable: (cell) => editableFunc(cell),
                },
            ],
        });

        clientGrid.on("dataLoaded", function(data){
            if(data && data.length > 0) {
                data.forEach(row => {
                    row.gridRowId = currentRowId++;
                    row.deleteChk = false;
                });
            }
        });

        getClientList();
    }

    /**
     * Cell 수정 후처리
     */
    const cellModifiedFunc = (cell) => {
        let rowData = cell.getRow().getData();
        let existing = modifiedRows.find(r => r.gridRowId === rowData.gridRowId);
        cell.getRow().getCell("status").setValue("수정");
        if (!existing) {
            rowData.status = "M";
            modifiedRows.push(rowData);
        }
    }

    /**
     * Cell 삭제 후처리
     */
    const deleteChkEditedFunc = (cell) => {
        let rowData = cell.getRow().getData();
        if(rowData.deleteChk) {
            cell.getRow().getCell("status").setValue("삭제");
            rowData.status = "D";
            deletedRows.push(rowData);
        } else {
            let modified = modifiedRows.find(r => r.gridRowId === rowData.gridRowId);
            if(modified) {
                cell.getRow().getCell("status").setValue("수정");
            } else {
                cell.getRow().getCell("status").setValue("");
            }
            deletedRows = deletedRows.filter(r => r.gridRowId !== rowData.gridRowId);
        }
    }

    /**
     * Cell 수정 가능여부
     */
    const editableFunc = (cell) => {
        let rowData = cell.getRow().getData();
        if(deletedRows.length === 0) return true;
        return !(deletedRows.find(r => r.gridRowId === rowData.gridRowId));
    }

    /**
     * 고객목록 조회
     */
    const getClientList = () => {
        fetch("http://localhost:8080/api/client/list")
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    createdRows  = [];
                    modifiedRows = [];
                    deletedRows  = [];
                    clientGrid.replaceData(response.data);
                }
            }
        );
    }

    /**
     * 고객정보 삭제
     */
    const deleteClient = (client) => {
        if( confirm("[" + client.clientName + "] 고객을 삭제하시겠습니까?") ) {
            fetch("http://localhost:8080/api/client/"+client.clientId, {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    alert("삭제가 완료되었습니다.");
                    getClientList();
                } else {
                    console.log(response);
                    alert("고객정보 삭제를 실패하였습니다.");
                }
            });
        }
    }

    /**
     * 행 추가
     */
    const addRow = () => {
        clientGrid.addRow({
            status:
            gridRowId: currentRowId++,
            beginYmd: '19000101',
            endYmd: '29991231',
        });
    }

    /**
     * 데이터 저장
     */
    const saveData = () => {
        const saveJson = [...createdRows, ...modifiedRows, ...deletedRows];
        if(saveJson.length < 1) {
            alert("저장할 데이터가 없습니다.");
            return;
        }

        if( confirm("저장 하시겠습니까?") ) {
            fetch("http://localhost:8080/api/client/save", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(saveJson),
            })
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    alert("저장이 완료되었습니다.");
                    getClientList();
                } else {
                    console.log(response);
                    alert("저장을 실패하였습니다.");
                }
            });
        }
    }
</script>
</body>
</html>
