<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/node_modules/tabulator-tables/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
    <title>고객목록</title>
</head>
<body>
<h1>고객목록</h1>
<!-- 고객목록 그리드 -->
<div id="client-grid" class="tabulator"></div>

<script type="text/javascript" src="/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="/node_modules/luxon/build/global/luxon.min.js"></script>
<script>
    let clientGrid;

    document.addEventListener("DOMContentLoaded", () => {
        initGrid();
    });

    /**
     * 그리드 초기화
     */
    const initGrid = () => {
        clientGrid = new Tabulator("#client-grid", {
            height: '100%',
            maxHeight: '100%',
            minHeight: '300px',
            layout: "fitData",
            columns: [
                {title:"고객번호", field: "clientNo", width: 100},
                {title:"성명", field: "clientName", width: 100},
                {title:"연락처", field: "phoneNo", width: 100},
                {title:"이메일", field:"emailAddr", width: 100},
                {title:"시작일", field:"beginYmd", width: 100, formatter:"datetime", formatterParams:{
                    inputFormat:"yyyyMMdd",
                    outputFormat:"yyyy-MM-dd",
                    invalidPlaceholder:"(invalid date)",
                }},
                {title:"종료일", field:"endYmd", width: 100, formatter:"datetime", formatterParams:{
                    inputFormat:"yyyyMMdd",
                    outputFormat:"yyyy-MM-dd",
                    invalidPlaceholder:"(invalid date)",
                }},
                {title:"수정", formatter:"buttonTick", width:30, hozAlign:"center",
                    cellClick:function(e, cell){
                        alert("수정~");
                    }
                },
                {title:"삭제", formatter:"buttonCross", width:30, hozAlign:"center",
                    cellClick:function(e, cell){
                        deleteClient(cell.getRow().getData());
                    }
                },
            ],
        });

        getClientList();
     }

    /**
     * 고객목록 조회
     */
    const getClientList = () => {
        fetch("http://localhost:8080/api/client/list")
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    clientGrid.replaceData(response.data);
                }
            }
        );
    }

    /**
     * 고객정보 삭제
     */
    const deleteClient = (client) => {
        if( confirm("[" + client.clientName + "] 고객을 삭제하시겠습니까?") ) {
            fetch("http://localhost:8080/api/client/"+client.clientId, {
                method: "DELETE"
            })
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    alert("삭제가 완료되었습니다.");
                    getClientList();
                } else {
                    console.log(response);
                    alert("고객정보 삭제를 실패하였습니다.");
                }
            });
        }
    }
</script>
</body>
</html>
