<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/node_modules/tabulator-tables/dist/css/tabulator_simple.min.css" rel="stylesheet">
    <link href="/css/tabulator-wsm.css" rel="stylesheet">
    <title>공통코드관리</title>
</head>
<body>
<h1>공통코드관리</h1>
<div class="buttons">
    <button id="masterSearchBtn">조회</button>
    <button id="masterAddRowBtn">추가</button>
    <button id="masterSaveBtn">저장</button>
</div>
<!-- 코드기준 그리드 -->
<div id="code-master-grid" class="tabulator"></div>

<div class="buttons">
    <button id="detailSearchBtn">조회</button>
    <button id="detailAddRowBtn">추가</button>
    <button id="detailSaveBtn">저장</button>
</div>
<!-- 코드상세 그리드 -->
<div id="code-detail-grid" class="tabulator"></div>

<script type="text/javascript" src="/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="/node_modules/luxon/build/global/luxon.min.js"></script>
<script type="text/javascript" src="/node_modules/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/js/wsm.tabulator.js"></script>
<script th:inline="javascript">
    let codeMasterGrid;
    let codeDetailGrid;

    document.addEventListener("DOMContentLoaded", () => {
        initMasterGrid();
        initDetailGrid();
    });

    const masterSearchBtn = document.getElementById("masterSearchBtn");
    const masterAddRowBtn = document.getElementById("masterAddRowBtn");
    const masterSaveBtn   = document.getElementById("masterSaveBtn");
    const detailSearchBtn = document.getElementById("detailSearchBtn");
    const detailAddRowBtn = document.getElementById("detailAddRowBtn");
    const detailSaveBtn   = document.getElementById("detailSaveBtn");

    masterSearchBtn.addEventListener("click", () => getCodeMasterList());
    masterAddRowBtn.addEventListener("click", () => addRowMaster());
    masterSaveBtn.addEventListener("click",   () => saveDataMaster());
    detailSearchBtn.addEventListener("click", () => getCodeDetailList());
    detailAddRowBtn.addEventListener("click", () => addRowDetail());
    detailSaveBtn.addEventListener("click",   () => saveDataDetail());

    /**
     * 코드기준 그리드 초기화
     */
    const initMasterGrid = () => {
        const columns = WsmTabulator.column
            .addText({title: "코드기준", field: "codeId", width: 120, align: 'left'})
            .addText({title: "코드기준명", field: "codeName", width: 150, align: 'left'})
            .addText({title: "비고", field: "note", width: 300, align: 'left'})
            .build()
        ;

        codeMasterGrid = WsmTabulator.newTabulator("#code-master-grid", {
            useStatus: true,
            useDelete: true,
            height: '250px',
            layout: "fitDataStretch",
            columns: columns,
            requiredFields: ["codeId", "codeName"],
        });

        getCodeMasterList();
    }

    /**
     * 코드상세 그리드 초기화
     */
    const initDetailGrid = () => {
        const columns = WsmTabulator.column
            .addText({title: "codeId", field: "codeId", width: 50, visible: true})
            .addText({title: "detailId", field: "detailId", width: 50, visible: true})
            .addText({title: "코드값", field: "codeValue", width: 150, align: 'left'})
            .addText({title: "코드명", field: "codeLabel", width: 200, align: 'left'})
            .addText({title: "정렬순서", field: "sortOrder", width: 200, align: 'center'})
            .addText({title: "사용여부", field: "useYn", width: 200, align: 'center'})
            .build()
        ;

        codeDetailGrid = WsmTabulator.newTabulator("#code-detail-grid", {
            useStatus: true,
            useDelete: true,
            height: '300px',
            layout: "fitDataStretch",
            columns: columns,
            requiredFields: ["codeValue", "codeLabel"],
        });

    }

    /**
     * 코드기준 조회
     */
    const getCodeMasterList = () => {
        fetch("http://localhost:8080/api/code/master/list")
            .then(response => response.json())
            .then(response => {
                if(response.status === 200) {
                    codeMasterGrid.replaceData(response.data);
                }
            }
        );
    }

    /**
     * 코드상세 조회
     */
    const getCodeDetailList = () => {
        fetch("http://localhost:8080/api/code/detail/list")
            .then(response => response.json())
            .then(response => {
                if(response.status === 200) {
                    codeDetailGrid.replaceData(response.data);
                }
            }
        );
    }

    /**
     * 코드기준 행 추가
     */
    const addRowMaster = () => {
        codeMasterGrid.addRow();
    }

    /**
     * 코드상세 행 추가
     */
    const addRowDetail = () => {
        codeDetailGrid.addRow();
    }

    /**
     * 코드기준 데이터 저장
     */
    const saveDataMaster = () => {
        let rows = codeMasterGrid.getRows();

        // 필수값 확인
        if(!codeMasterGrid.validateRequiredFields()) {
            return;
        }

        let saveJson = codeMasterGrid.getModifiedData();
        if(saveJson.length < 1) {
            alert("저장할 데이터가 없습니다.");
            return;
        }

        if( confirm("저장 하시겠습니까?") ) {
            fetch("http://localhost:8080/api/code/master/save", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(saveJson),
            })
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    alert("저장이 완료되었습니다.");
                    getCodeMasterList();
                } else {
                    let errorMsg = response.message;
                    if(_.isEmpty(errorMsg)) {
                        errorMsg = "저장에 실패하였습니다.";
                    }
                    alert(errorMsg);
                }
            });
        }
    }

    /**
     * 코드상세 데이터 저장
     */
    const saveDataDetail = () => {
        let rows = codeDetailGrid.getRows();

        // 필수값 확인
        if(!codeDetailGrid.validateRequiredFields()) {
            return;
        }

        let saveJson = codeDetailGrid.getModifiedData();
        if(saveJson.length < 1) {
            alert("저장할 데이터가 없습니다.");
            return;
        }

        if( confirm("저장 하시겠습니까?") ) {
            fetch("http://localhost:8080/api/code/detail/save", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(saveJson),
            })
            .then(response => response.json())
            .then(response => {
                if( response.status === 200 ) {
                    alert("저장이 완료되었습니다.");
                    getCodeDetailList();
                } else {
                    let errorMsg = response.message;
                    if(_.isEmpty(errorMsg)) {
                        errorMsg = "저장에 실패하였습니다.";
                    }
                    alert(errorMsg);
                }
            });
        }
    }
</script>
</body>
</html>